@use "./style/mixins" as mixins;
#root {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 0.5rem;
    @include mixins.tablet {
        flex-direction: column;
    }
    &>* {
        background-color: #444;
        padding: 0.5rem;
        border-radius: 10px;
    }
    nav {
        flex-basis: 150px;
    }
    aside {
        flex-basis: 300px;
        @include mixins.laptop {
            display: none;
        }
    }
    main {
        flex-grow: 1;
        @include mixins.mobile {
            order: -1;
        }
    }
}